{% extends 'base.html' %}
{% block contents %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create New Image</h1>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <!-- Basic Card Example -->
            <div class="card shadow mb-10">
                <div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary"> Iamge </h6>
                </div>
                <div class="card-body">
			<form action="" method=POST>
				
				    <form action="" class="user" method=POST>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input name="image_name" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Image name">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="dockerfile" rows="15" class="form-control textarea.form-control"
											placeholder="Enter dockerfile contents"></textarea>
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Create Image">
                                    </form>

			</form>
		</div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
