{% extends 'base.html' %}
{% block contents %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
<!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Node list</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>HOSTNAME</th>
			    <th>STATUS</th>
                            <th>AVAILABILITY</th>
                            <th>MANAGER STATUS</th>
			    <th>ENGINE VERSION</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>HOSTNAME</th>
			    <th>STATUS</th>
                            <th>AVAILABILITY</th>
                            <th>MANAGER STATUS</th>
			    <th>ENGINE VERSION</th>
                        </tr>
                    </tfoot>
                    <tbody>
			{% for node in nodes %}
                        <tr>
				<td>{{ node.0 }}</td>
				<td><a href="node/{{ node.1 }}/" >{{ node.1 }}</a></td>
				<td>{{ node.2 }}</td>
				<td>{{ node.3 }}</td>
				<td>{{ node.4 }}</td>
				<td>{{ node.5 }}</td>
                        </tr>
			{% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">


        <!-- Content Column -->
        <div class="col-lg-12 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Node cpu usages</h6>
                </div>
                <div class="card-body">
		{% for  cpu_usage in cpu_usages %}
		<h4 class="small font-weight-bold">{{cpu_usage.0}} <span
		    class="float-right">{{cpu_usage.1}} %</span></h4>
                    <div class="progress mb-4">
			    <div class="progress-bar bg-danger" role="progressbar" style="width: {{cpu_usage.1}}%"
									       aria-valuenow="{{cpu_usage.1}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
		{% endfor %}
                </div>
            </div>

    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}
