{% extends 'base.html' %}
{% block contents %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Network Info.</h1>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <!-- Basic Card Example -->
            <div class="card shadow mb-10">
                <div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">{{ network_name }}</h6>
                </div>
                <div class="card-body">
			<pre>{{ output }}</pre>
		</div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
