{% extends 'base.html' %}
{% block contents %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">SERVICE Info.</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Service Info.</h6>
            <a href="/services/" class="btn btn-light btn-icon-split">
                <span class="icon text-gray-600">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Back to Lists</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>IMAGE</th>
                            <th>NODE</th>
                            <th>DESIRED STATE</th>
                            <th>CURRENT STATE</th>
                            <th>ERROR</th>
                            <th>PORTS</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>IMAGE</th>
                            <th>NODE</th>
                            <th>DESIRED STATE</th>
                            <th>CURRENT STATE</th>
                            <th>ERROR</th>
                            <th>PORTS</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for service_info in service_infos %}
                        <tr>
                            <td>{{ service_info.0 }}</td>
                            <td>{{ service_info.1 }}</td>
                            <td>{{ service_info.2 }}</td>
                            <td>{{ service_info.3 }}</td>
                            <td>{{ service_info.4 }}</td>
                            <td>{{ service_info.5 }}</td>
                            <td>{{ service_info.6 }}</td>
                            <td>{{ service_info.7 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
