{% extends 'base.html' %}
{% block contents %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">STACK</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Stack list</h6>
	    <a href="/deploy/" class="btn btn-primary btn-icon-split">
		    <span class="icon text-white-50">
			    <i class="fas fa-flag"></i>
		    </span>
		    <span class="text">Create New Docker Stack</span>
	    </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>SERVICES</th>
                            <th>ORCHESTRATOR</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>NAME</th>
                            <th>SERVICES</th>
                            <th>ORCHESTRATOR</th>
                            <th>DELETE</th>
                        </tr>
                    </tfoot>
                    <tbody>
			{% for stack in stacks %}
                        <tr>
				<td><a href="{{ stack.0 }}/" >{{ stack.0 }}</a></td>
				<td>{{ stack.1 }}</td>
				<td>{{ stack.2 }}</td>
                            <td>
				    <a href="remove/{{ stack.0 }}/" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete</span>
                                </a>
                            </td>
                        </tr>
			{% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
