{% extends 'base.html' %}
{% block contents %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">VOLUME Info.</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Volume Info.</h6>
	    <a href="/volume/" class="btn btn-light btn-icon-split">
                <span class="icon text-gray-600">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Back to Lists</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>CreatedAt</th>
                            <th>Driver</th>
			    <th>Labels</th>
			    <th>Mountpoint</th>
			    <th>Name</th>
			    <th>Options</th>
			    <th>Scope</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>CreatedAt</th>
                            <th>Driver</th>
			    <th>Labels</th>
			    <th>Mountpoint</th>
			    <th>Name</th>
			    <th>Options</th>
			    <th>Scope</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
				<td>{{ CreatedAt }}</td>
				<td>{{ Driver }}</td>
				<td>{{ Labels }}</td>
				<td>{{ Mountpoint }}</td>
				<td>{{ Name }}</td>
				<td>{{ Options }}</td>
				<td>{{ Scope }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
